@{ Layout = null; }
@model string


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset E-mail</h2>
    <div style="float: left; margin-right: 5px;">
        <p>Your new Password is: @Model</p><br>
    </div>
    <footer>
        <hr><div>© 2019 - Hotel Booking</div>
    </footer>
</body>
</html>