@{ Layout = null; }
@model string


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Password Reset E-mail</h2>
    <div>
        <div style="float: left; margin-right: 5px;">
            <p>Your new Password is: @Model</p><br>

        </div>
    </div>
    <footer>
        <hr><div>© 2019 - Hotel Booking</div>
    </footer>
</body>
</html>